/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: #d50e4a;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

nav,
h1,
h2,
h3,
.slider,
.carte,
.contact,
h4 {
  text-transform: uppercase;
}

nav,
h1,
h2,
.slider,
h3,
.carte,
.contact,
h4 {
  font-family: "Montserrat", sans-serif;
}

p,
.terre-mere {
  font-family: "Space Mono", monospace;
  font-style: normal;
}

.inde {
  font-family: "Tiro Devanagari Hindi", serif;
  padding-top: 15px;
}

a:hover .carte {
  color: #c1c8f2;
}

/*.row + .row,
.container + .container {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}*/
