.contact {
  color: var(--carte, #c1c8f2);
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  padding: 30px 45px 30px 45px;
  margin-top: 34px;
}

.contact-bg {
  background: var(--textes, #dbff4c);
}

@media (min-width: 768px) {
  .contact {
    font-size: 130px;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .contact {
    font-size: 180px;
    margin-top: 68px;
  }
}
