nav a {
  text-decoration: none;
  position: relative;
}

nav a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  width: 0%;
  left: 0px;
  height: 6px;
  transition: 0.25s cubic-bezier(0.72, -0.01, 0.19, 0.92);
  background: #dbff4c;
}

a:hover:after {
  width: 100%;
}

header {
  margin: 0;
  padding: 0;
}

nav img {
  width: 230px;
  height: 90px;
  flex-shrink: 0;
}

.navigation {
  position: fixed;
  margin-top: 25px;
}

@media (max-width: 537px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 235px;
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    gap: 5px;
    font-size: 23px;
  }
}

@media (min-width: 537px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 255px;
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    gap: 0px;
  }
}

@media (min-width: 768px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 340px;
    display: flex;
    flex-direction: row;
    padding-top: 58px;
    gap: 130px;
  }
}

nav {
  align-items: center;
  color: #dbff4c;
  font-size: 25px;
  font-weight: 800;
}

@media (min-width: 992px) {
  nav img {
    width: 310.098px;
    height: 118.508px;
    flex-shrink: 0;
  }

  nav {
    font-size: 36px;
  }

  .cartes-contacts {
    justify-content: space-between;
    margin-left: 435px;
    display: flex;
    flex-direction: row;
    padding-top: 65px;
  }
}

@media (min-width: 1200px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 490px;
    display: flex;
    flex-direction: row;
    padding-top: 65px;
    gap: 230px;
  }
}

@media (min-width: 1220px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 500px;
    display: flex;
    flex-direction: row;
    padding-top: 65px;
  }
}

@media (min-width: 1400px) {
  .cartes-contacts {
    justify-content: space-between;
    margin-left: 570px;
    display: flex;
    flex-direction: row;
    padding-top: 65px;
  }
}
