nav a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 65px;
  align-items: center;
  color: #dbff4c;
  font-size: 25px;
  font-weight: 800;
}

header {
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  nav {
    font-size: 36px;
  }
}

nav img {
  width: 230px;
  height: 90px;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  nav img {
    width: 310.098px;
    height: 118.508px;
    flex-shrink: 0;
  }
}
